[motor_constants leadshine_42cm06]
# Coil resistance, Ohms
resistance: 0.9
# Coil inductance, Henries
inductance: 0.0016
# Holding torque, Nm
holding_torque: 0.6
# Nominal rated current, Amps
max_current: 1.7
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: leadshine_42cm06
voltage: 24
tuning_goal: performance
sg4_thrs: 140
#extra_hysteresis: 4
tbl:1

[autotune_tmc stepper_x1]
motor: leadshine_42cm06
voltage: 24
tuning_goal: performance
sg4_thrs: 140
#extra_hysteresis: 4
tbl:1

[autotune_tmc stepper_y]
motor: leadshine_42cm06
voltage: 24
tuning_goal: performance
sg4_thrs: 140
#extra_hysteresis: 4
tbl:1

[autotune_tmc stepper_y1]
motor: leadshine_42cm06
voltage: 24
tuning_goal: performance
sg4_thrs: 140
#extra_hysteresis: 4
tbl:1