[include macros.cfg]
[include led.cfg]
#[include probe.cfg]
[include tmc.cfg]
[include stepper.cfg]
[include klicky-probe.cfg]
[include speedtest.cfg]
[include fan.cfg]
#[include Pico.cfg]
#[include autotune.cfg]



# JUST A NOTE, THIS REQUIRES THE FOLLOWING KLIPPER MODULE TO FUNCTION: https://github.com/Annex-Engineering/klipper/blob/master/klippy/extras/dockable_probe.py
# Documentation can be found here: https://github.com/Annex-Engineering/klipper/blob/master/docs/Dockable_Probe.md

# This file has been created by Trails, of Annex Engineering, for the K3 3D Printer.
# Please change settings for your specific build or ensure you place your items in the same spots on the same MCU as I have.
# I've added as many options as I can think of for different displays as well as listed the available commands you can use via the terminal at the bottom of this configuration file.

#THIS CONFIG IS FOR A 180mm x 180mm x 180mm K3 PRINTER ONLY FOR THE FYSETC SPIDER CONTROLLER
#PLEASE READ THE WHOLE CONFIG BEFORE ATTEMPTING TO DO ANYTHING
#CONNECTORS/PORTS ON THE CONTROLLERS ARE NOTED WITH COMMENTS FOR EACH LOCATION/INPUT/OUTPUT

# use the following modifiers before the pin definition (ex: ^!ar99)
# ! 			invert the logic
# ^ 			activate 5v pullup (does not apply to all pins)
# mcu_name: 	use pins on additional MCU (ex: z:ar10)

# |------------------------|
# |        BACKPACK        |
# |------------------------|
# | Y  |    | Z1 |    | X1 |
# |-----    ------    -----|
# |                        |
# | ------          ------ |
# | | Z  |          | Z2 | |
# | ------          ------ |
# |-----              -----|
# | X  |              | Y1 |
# |------------------------|

[temperature_sensor Spider]
sensor_type: temperature_mcu

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PB1
min_temp: 0
max_temp: 120

[input_shaper]
shaper_freq_x: 70 #80 #74.2 
shaper_freq_y: 70 #75.2 #72.4 
shaper_type: mzv
damping_ratio_x: 0.074565 #6mm #0.044225 9mm
damping_ratio_y: 0.060948 #6mm 0.047446 #9mm


# MCU SPIDER
[mcu] 
#   You will need to set this definition manually following the instructions in the line below
#	obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_4A004A001851303439363932-if00
restart_method: command

# EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC9, EXP1_2=PA8,
    EXP1_3=PC11, EXP1_4=PD2,
    EXP1_5=PC10, EXP1_6=PC12,    # Slot in the socket on this side
    EXP1_7=PD0, EXP1_8=PD1,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PC6, EXP2_4=PA4,
    EXP2_5=PC7, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PB10, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>




#enable display status for moonraker
[display_status]

# Enable Pause/Resume Functionality
[pause_resume]

#Printer Speeds and Accels
[printer]
kinematics: cartesian
max_velocity: 800
max_accel: 20000 # change this to 7500 after commissioning
max_accel_to_decel: 10000
max_z_velocity: 10   # may be able to increase to 15 after comissioning.
max_z_accel: 350
square_corner_velocity: 12 # start at 8, but then increase once you're sure assembly is sound

#Gcode G2/G3 Arc Support
[gcode_arcs]
resolution: 0.05

#Input Shaper Settings
# you need to tune your printer for this
# [input_shaper]
# shaper_freq_x:
# shaper_freq_y:
# shaper_type: mzv


# Stepper Configs


# TR12x2 Leadscrew attached to a 1.8deg Motor
#rotation_distance: 2
#gear_ratio: 2:1
#microsteps: 4
#full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor



# TMC Stepper Configurations for All Motors


# Force Move used to force a single stepper to move. Not used once setup complete
[force_move]
enable_force_move: true


# Dockable Probe


# Extruder0
[extruder]
# connected to E4 Stepper on SPIDER
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 55.09898995  # Re-calibrate your own value
gear_ratio: 44:10, 37:17
#rotation_distance: 22.905740611
#gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200 #1.8 deg motor

#0.4mm Nozzle
nozzle_diameter: 0.400
pressure_advance: 0.02
pressure_advance_smooth_time: 0.03
filament_diameter: 1.750	
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1500.0
max_extrude_cross_section: 20000.0



# connected to Heater0 on SPIDER
heater_pin: PB15
max_power: 1.0

# connected to Thermistor0 on SPIDER
#sensor_type: PT1000
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC3

#Hotend PID Settings
#control: pid
#pid_Kp: 32.426 
#pid_Ki: 1.743
#pid_Kd: 150.782

min_extrude_temp: 0
min_temp: 00
max_temp: 300


 
# Heated Bed  
[heater_bed]
# connected to Heater1 on SPIDER
heater_pin: PB4
# NTC 100K MGB18-104F39050L32 is for Kenovo thermistors
sensor_type: NTC 100K MGB18-104F39050L32
# connected to Thermistor1 on SPIDER
sensor_pin: PB0
smooth_time: 3.0

#Build Plate PID Settings
max_power: 1
#control: pid
#pid_Kp: 42.475 
#pid_Ki: 1.395 
#pid_Kd: 323.339
min_temp: 0
max_temp: 130

#Raspberry Pi Temperature Sensor
[temperature_sensor pi_cpu]
sensor_type: temperature_host
gcode_id: P

 
# Fans  
# Hotend Cooling Fan


[probe]
pin: ^PA2 
x_offset: -25.0 
y_offset: 1.8
#z_offset: 7.85 
speed: 5
lift_speed: 5
# drop_first_result: true
samples: 1
sample_retract_dist: 0.9
samples_tolerance: 0.02
samples_tolerance_retries: 5
samples_result: median

# Mesh Bed Settings
[bed_mesh]
speed: 200
horizontal_move_z: 10.0
mesh_min: 20,25
mesh_max: 150, 155
probe_count: 10,10
fade_start: 0.5
fade_end: 2
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 5,5
algorithm: bicubic
#bicubic_tension: 0.1
zero_reference_position: 90,90  # ^^^because were measuring the offset from the nozzle switch to the bed using the center of the bed, the equation to find the location = (probe point count)/2-1

[z_tilt]
#3 Z Motors
z_positions: 
    -74.0, -18.0    # Front Left
    76.0,  217.0    # Rear
    226.0, -18.0    # Front Right
points:
    45, 25          # Front Left
    112, 160        # Rear
    175, 25         # Front Right
speed: 300
horizontal_move_z: 15.0
retries: 20
retry_tolerance: 0.02



# Motor and Heater Idle Timeout
[idle_timeout]
timeout: 6000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.375
#*# pid_ki = 2.328
#*# pid_kd = 294.611
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.885
#*# pid_ki = 1.677
#*# pid_kd = 65.003
#*#
#*# [probe]
#*# z_offset = 6.625
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.054370, 0.065464, 0.089683, 0.097495, 0.117964, 0.105776, 0.087183, 0.105308, 0.061401, 0.036245
#*# 	0.048589, 0.062183, 0.040776, 0.079995, 0.072495, 0.067495, 0.052964, 0.051401, 0.044058, 0.009839
#*# 	0.009370, 0.030620, 0.027808, 0.043745, 0.029526, 0.061558, 0.054995, 0.031870, 0.004995, -0.013286
#*# 	-0.002192, 0.024995, 0.034214, 0.039526, 0.036401, 0.041245, 0.036401, 0.029526, -0.017505, -0.050786
#*# 	0.021245, -0.017036, -0.006411, 0.020308, 0.039214, -0.012974, 0.019839, 0.012964, -0.024692, -0.053442
#*# 	-0.035005, -0.020317, 0.000933, -0.014536, 0.040308, 0.008901, 0.020620, -0.002036, -0.025317, -0.061724
#*# 	-0.076724, -0.026724, -0.042349, 0.014526, 0.011245, 0.010464, 0.004995, -0.053755, -0.059224, -0.114067
#*# 	-0.040317, -0.033286, -0.001411, -0.054224, 0.018745, 0.024683, 0.001245, 0.003120, -0.024849, -0.058442
#*# 	-0.061411, -0.018755, -0.018286, -0.026724, 0.017339, -0.004067, 0.007495, -0.014224, -0.029380, -0.062505
#*# 	-0.044380, -0.011099, 0.027495, -0.041411, 0.000464, -0.026724, 0.009370, -0.012817, -0.030005, -0.062661
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 149.96
#*# min_y = 25.0
#*# max_y = 154.96
